body{
    background-color:#f1e9d2;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:5vh auto;
}
header{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/nen_header_signup.jpg');
    height:55px;
    margin:auto;
    border-radius: 8px;
    margin-bottom: 4px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}   
main{
    border-radius: 8px;
    width:100%;
    max-width: 500px;
    box-sizing: border-box;
    margin: auto;
    background-color:#99b063;
    text-align:center;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}
.hang1 h2,p {
    margin:0;
    color:white;
}
.hang1 p{
    margin-bottom:10px;
}
hr{
    border: #324f23 1px solid;
}
.name{
    display:flex;
    margin:5px 10px;
    gap:5px;
}
input[type="text"]{
    width:91.5%;
    border:1px solid #99b063;
    border-radius:5px;
    padding:5px;
}
input{
    font-family: 'Courier New', Courier, monospace;
    color:#99b063;
    width:91.5%;
    border: 1px solid #99b063;
    border-radius:5px;
    padding:5px;
    margin:5px;
}
.nut{
    border-radius: 8px;
    background-color:#324f23;
    padding:10px 20px;
    font-size: 16px;
    cursor: pointer;
    color:#f1e9d2;
    white-space: nowrap;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    border: 1px solid #f1e9d2;
}
.birth p{
    text-align:initial;
    padding:10px;
}
.ngaythangnamsinh{
    display:flex;
    justify-content:space-around;
    gap:10px;
}
select{
    padding:5px;
    width:130px;
    border-radius:5px;
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid #99b063;
}
.gender p{
    text-align: initial;
    padding:5px;
}
.luachon{
    display:flex;
    gap:5px;
    margin:15px;
    margin-top: 5px;
}
.vien{
    flex:1;
    display:flex;
    border:1px solid #f1e9d2;
    border-radius:5px;
    /* justify-content: space-around; */
    padding:auto;
}
a{
    text-decoration:none;
    color:#f1e9d2;
}
.warning{
    color:red;
    font-weight: bold;
}
.dangky p{
    font-weight: bold;
}