body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #f1e9d2;
    font-size: 16px;
}
header{
    background-color: #9ab25d;
    padding: 10px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
    position: fixed;
    top: 0;
    left: 0;
    /* right: 0; */
    width: 100%;
    /* max-width: 100vw; */
    box-sizing: border-box;
    height:auto;
    box-shadow: 4px 0 15px rgba(0,0,0,0.3);
}
a{
    text-decoration: none;
}
.dautrang1{
    display: flex;
    justify-content: space-around;
    margin-left: 0 20px;
    align-items: center;
}
.dautrang1 img {
    width: auto; 
    height:50px;
    margin: 0;
}
.thanhtimkiem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #f1e9d2;
    padding-left:10px;
    /* padding-bottom: 10px; */
    /* border:2px solid; */
    margin:10px;
}
.timkiem {
    font-size: 16px;
    padding: 8px;
    border: 2px solid#f1e9d2;
    background-color: #f1e9d2;
    border-radius: 50px;
    padding-right: 100px;
    outline: none; /*ẩn viền của input và button*/
}
.dangnhap button{
    color: #f1e9d2;
    background-color: #324f23;
    font-size: 16px;
    border-radius: 10px; 
    padding:10px 30px;
    margin-left: 10px;
    cursor: pointer;/*đổi con trỏ thành hình bàn tay*/
}
.dangnhap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-left: 10px; */
}
button{
    font-family: 'Courier New', Courier, monospace;
}
main{
    width:80%;
    margin:auto;
}
input::placeholder{
    font-family: 'Courier New', Courier, monospace;
}
.monan img{
    width: 280px;
    height: 270px; 
    border-radius: 10px 10px 0 0 ;
}
.monan{
    flex:1 1 50px;
}
.monan:hover{
    box-shadow: 0 8px 24px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.mota{
    background-color: #e0d9bf;
    width: 270px;
    border-radius: 0 0 10px 10px;
    padding: 5px 10px;
    margin-top:-4px;
    color:#324f23;
    /* height:50px; */
    max-height: 50px;
}
.mota p{
    font-weight:bold;
}
footer{
    padding:30px;
    margin-top: 20px;
    background-color: #324f23;
    color:#f1e9d2;
    width:100%;
    max-width: 100vw;
    border-radius: 10px 10px 0 0;
    flex:1;
    box-sizing: border-box; /* Tính cả padding và border vào width */
}


/* header */
ul{
    list-style: none;
    display:flex;
    gap:20px;
    align-items: center;
}
li{
    padding-inline-start: 0;
    font-size: medium;
}
.header a{
    text-decoration: none;
    color:#f1e9d2;
    font-weight: bold;
}

.xemthem{
    margin-right: 10px; 
    color: black; 
    border: 1px solid #9ab25d; 
    border-radius: 30px; 
    padding: 10px;
}




